.site-header {
  width: 100%;
   padding: 18px 70px;
  background: rgba(0, 0, 0, 0.72);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;
  transition: 0.35s ease;
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.header-logo img {
 width: 170px;
  height: auto;
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header-nav a {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.header-nav a:hover {
  color: #00bfff;
}

.menu-btn {
  display: none;
  width: 58px;
  height: 54px;
  border: 0;
  border-radius: 8px;
  background: #0b0b0b;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.menu-btn span {
  width: 30px;
  height: 3px;
  background: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {

  .site-header{
   
    padding: 28px 26px;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo img{
    width:170px;
  }

  .menu-btn{
    display:flex;
    z-index:1001;
  }

  .header-nav{
    position:absolute;
    top:90px;
    right:20px;

    width:220px;
    padding:20px;

    display:flex;
    flex-direction:column;
    gap:16px;
    align-items:flex-start;

    background:rgba(10,10,10,.88);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    box-shadow:0 10px 40px rgba(0,0,0,.45);

    opacity:0;
    visibility:hidden;
    transform:translateY(-10px);
    transition:all .3s ease;

    z-index:1000;
  }

  .header-nav.active{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
  }

  .header-nav a{
    width:100%;
    padding:10px 0;
    font-size:14px;
    color:#fff;
    border-bottom:1px solid rgba(255,255,255,.08);
    transition:.3s;
  }

  .header-nav a:last-child{
    border-bottom:none;
  }

  .header-nav a:hover{
    color:#00bfff;
    padding-left:8px;
  }

  .header-nav a::after {
  display: none;
}
}
.menu-btn span {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-btn.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-btn.open span:nth-child(2) {
  opacity: 0;
}

.menu-btn.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.header-nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.header-nav a.nav-active {
  color: #00bfff;
}

.header-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 1px;
  background: #00bfff;
  transition: 0.3s ease;
}

.header-nav a:hover::after,
.header-nav a.nav-active::after {
  width: 100%;
}